<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Humper" version="0.5.8" targetFramework="net45" />
  <package id="MonoGame.Extended" version="3.7.0" targetFramework="net47" />
  <package id="MonoGame.Extended.Animations" version="3.7.0" targetFramework="net47" />
  <package id="MonoGame.Extended.Entities" version="3.7.0" targetFramework="net47" />
  <package id="MonoGame.Extended.Graphics" version="3.7.0" targetFramework="net47" />
  <package id="MonoGame.Extended.Particles" version="3.7.0" targetFramework="net47" />
  <package id="MonoGame.Extended.Tiled" version="3.7.0" targetFramework="net47" />
  <package id="MonoGame.Framework.DesktopGL" version="3.7.1.189" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="12.0.2" targetFramework="net45" />
  <package id="System.Xml.XmlSerializer" version="4.3.0" targetFramework="net45" />
</packages>